In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
Data_train=pd.read_csv('Data-train.csv',index_col=0)
result=pd.read_csv('result.csv')

In [3]:
for i in range (100):
    a1=0
    a2=0
    a3=[]
    a4=[]
    c=0
    for j in range(len(Data_train)):
        if Data_train.productID[j]==i:
            c=c+1
            a1=Data_train.attribute1[j]
            a2=Data_train.attribute2[j]
            a3.append(Data_train.attribute3[j])
            a4.append(Data_train.attribute4[j])           
    if c!=0:
        result.attribute1[i]=a1
        result.attribute2[i]=a2
        
        result.attribute3[i]=np.linalg.norm(a3,ord=2)/c
        
        result.attribute4[i]=np.linalg.norm(a4,ord=2)/c
        result.number[i]=c
result.head()

C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2877474794.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.attribute1[i]=a1
C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2877474794.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.attribute2[i]=a2
C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2877474794.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.attribute3[i]=np.linalg.norm(a3,ord=2)/c
C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2877474794.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.attribute4[i]=np.linalg.norm(a4,ord=2)/c
C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2877474794.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.number[i]=c

   productID  attribute1  attribute2  attribute3  attribute4  number
0          0        3.00       90.00    0.962635    4.268610   30.00
1          1        3.00       60.00    0.827388    2.703654   32.00
2          2        4.00      100.00    5.279678    5.022781    4.00
3          3        3.00      100.00    1.240050    3.433069   27.00
4          4        0.01        0.01    0.010000    0.010000    0.01

In [4]:
Attribute=result

In [5]:
data= StandardScaler(with_std= False).fit_transform(Attribute)
Attribute_st = pd.DataFrame(data, index=Attribute.index, columns = Attribute.columns )
Attribute_st.head()

   productID  attribute1  attribute2  attribute3  attribute4   number
0      -49.5      0.7676     31.9976   -0.025661    1.409862   6.8576
1      -48.5      0.7676      1.9976   -0.160909   -0.155094   8.8576
2      -47.5      1.7676     41.9976    4.291382    2.164033 -19.1424
3      -46.5      0.7676     41.9976    0.251753    0.574321   3.8576
4      -45.5     -2.2224    -57.9924   -0.978296   -2.848748 -23.1324

In [6]:
feature={}
feature["attribute1"]=Attribute_st.attribute1
feature["attribute2"]=Attribute_st.attribute2
feature["attribute3"]=Attribute_st.attribute3
feature["attribute4"]=Attribute_st.attribute4
data=pd.DataFrame(feature)
data

    attribute1  attribute2  attribute3  attribute4
0       0.7676     31.9976   -0.025661    1.409862
1       0.7676      1.9976   -0.160909   -0.155094
2       1.7676     41.9976    4.291382    2.164033
3       0.7676     41.9976    0.251753    0.574321
4      -2.2224    -57.9924   -0.978296   -2.848748
..         ...         ...         ...         ...
95     -0.2324      1.9976    0.100861    0.018665
96      0.7676     41.9976    0.097388    2.764158
97      0.7676      1.9976    0.778488    0.363624
98      0.7676      1.9976   -0.224985    0.062664
99      0.7676     11.9976    0.210002    0.429894

[100 rows x 4 columns]

In [7]:
Data_train=pd.read_csv('Data-train.csv',index_col=0)
Data_train['Labels_3']=Data_train['productID']*0
Data_train['Labels_4']=Data_train['productID']*0
Data_train['Labels_5']=Data_train['productID']*0
Data_train.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,...,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales,Labels_3,Labels_4,Labels_5
0,28,4,3,100,5,2.098131,749,58.870968,53.774194,24.642857,...,3.222222,0.555556,0.357143,2.259259,3.178571,1.884615,31,0,0,0
1,73,30,2,40,3,1.487173,1217,329.000000,146.111111,8.642857,...,3.333333,0.571429,0.333333,2.285714,3.000000,2.000000,9,0,0,0
2,70,3,3,100,1,2.726300,3676,105.000000,64.797872,32.500000,...,3.073529,0.611940,0.320000,2.223881,2.866667,2.000000,94,0,0,0
3,69,35,3,100,2,2.831175,2685,246.482759,204.448276,43.714286,...,3.125000,0.480000,0.357143,2.160000,3.357143,1.833333,29,0,0,0
4,69,35,3,100,7,6.322161,777,250.000000,240.500000,43.000000,...,3.333333,0.000000,0.500000,2.000000,2.750000,1.333333,4,0,0,0

In [8]:
clf = KMeans(n_clusters=3)
clf.fit(data)  # 分组
centers = clf.cluster_centers_ # 两组数据点的中心点
labels = clf.labels_   # 每个数据点所属分组
print(centers)
print(labels) 
Attribute_st['Labels_3'] =labels
for i in range (100):
    Attribute_st.productID[i]=i

[[  0.34654737   0.15549474   0.29925497   0.8360363 ]
 [ -2.2224     -57.9924      -0.97829636  -2.84874802]
 [  1.05707368  36.47128421   0.31861641   0.96317298]]
[2 0 2 2 1 1 0 0 0 2 1 2 0 0 0 2 2 0 0 1 2 0 0 2 0 0 0 2 2 1 1 2 0 1 0 2 0
 1 2 2 2 2 2 0 0 2 2 1 1 2 2 1 1 1 1 1 0 0 0 1 0 2 2 0 1 2 2 1 0 2 2 1 0 0
 0 2 1 2 1 2 0 2 2 2 0 2 1 0 2 1 2 0 0 1 0 0 2 0 0 0]

C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/915863322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Attribute_st.productID[i]=i

In [9]:
clf = KMeans(n_clusters=4)
clf.fit(data)  # 分组
centers = clf.cluster_centers_ # 两组数据点的中心点
labels = clf.labels_   # 每个数据点所属分组
print(centers)
print(labels) 
Attribute_st['Labels_4'] =labels
for i in range (100):
    Attribute_st.productID[i]=i

[[  0.63426667  17.9976       0.10399596   0.55440663]
 [ -2.2224     -57.9924      -0.97829636  -2.84874802]
 [  0.3301      -2.0649       0.30647981   0.98132851]
 [  1.14691034  40.96311724   0.41764895   0.98797727]]
[3 2 3 3 1 1 0 2 0 3 1 3 2 2 0 3 3 2 2 1 3 2 2 0 2 2 2 3 3 1 1 3 2 1 2 3 2
 1 0 3 3 0 0 2 2 0 3 1 1 0 3 1 1 1 1 1 2 2 2 1 2 3 3 2 1 0 0 1 0 3 3 1 2 2
 2 3 1 0 1 3 2 3 3 3 2 3 1 2 3 1 3 2 2 1 0 2 3 2 2 0]

C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2370777377.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Attribute_st.productID[i]=i

In [10]:
clf = KMeans(n_clusters=5)
clf.fit(data)  # 分组
centers = clf.cluster_centers_ # 两组数据点的中心点
labels = clf.labels_   # 每个数据点所属分组
print(centers)
print(labels) 
Attribute_st['Labels_5'] =labels
for i in range (100):
    Attribute_st.productID[i]=i

[[  0.21204444 -12.44684444   0.12826632   1.02407015]
 [ -2.2224     -57.9924      -0.97829636  -2.84874802]
 [  1.14691034  40.96311724   0.41764895   0.98797727]
 [  0.63426667  17.9976       0.10399596   0.55440663]
 [  0.37629565   1.9976       0.37621552   0.96460352]]
[2 4 2 2 1 1 3 0 3 2 1 2 4 0 3 2 2 4 0 1 2 0 4 3 0 4 4 2 2 1 1 2 4 1 0 2 4
 1 3 2 2 3 3 4 4 3 2 1 1 3 2 1 1 1 1 1 4 4 0 1 4 2 2 4 1 3 3 1 3 2 2 1 4 0
 4 2 1 3 1 2 4 2 2 2 4 2 1 4 2 1 2 0 4 1 3 4 2 4 4 3]

C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/2089024743.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Attribute_st.productID[i]=i

In [11]:
for i in range (len(Data_train)):
    for j in range (100):
        if Attribute_st.productID[j]==Data_train.productID[i]:
            Data_train.Labels_3[i] =Attribute_st.Labels_3[j]
            Data_train.Labels_4[i] =Attribute_st.Labels_4[j]
            Data_train.Labels_5[i] =Attribute_st.Labels_5[j]
Data_train.head()

C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/3324366385.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_train.Labels_3[i] =Attribute_st.Labels_3[j]
C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/3324366385.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_train.Labels_4[i] =Attribute_st.Labels_4[j]
C:\Users\DELL\AppData\Local\Temp/ipykernel_13416/3324366385.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_train.Labels_5[i] =Attribute_st.Labels_5[j]

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,...,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales,Labels_3,Labels_4,Labels_5
0,28,4,3,100,5,2.098131,749,58.870968,53.774194,24.642857,...,3.222222,0.555556,0.357143,2.259259,3.178571,1.884615,31,2,3,2
1,73,30,2,40,3,1.487173,1217,329.000000,146.111111,8.642857,...,3.333333,0.571429,0.333333,2.285714,3.000000,2.000000,9,0,2,0
2,70,3,3,100,1,2.726300,3676,105.000000,64.797872,32.500000,...,3.073529,0.611940,0.320000,2.223881,2.866667,2.000000,94,2,3,2
3,69,35,3,100,2,2.831175,2685,246.482759,204.448276,43.714286,...,3.125000,0.480000,0.357143,2.160000,3.357143,1.833333,29,2,3,2
4,69,35,3,100,7,6.322161,777,250.000000,240.500000,43.000000,...,3.333333,0.000000,0.500000,2.000000,2.750000,1.333333,4,2,3,2

In [12]:
Data_train.to_csv(r"Data-train345.csv",mode = 'a',index =False)